* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(elements/background_03.svg);
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

#nav-buttons {
    display: none;
    padding-right: 3em;
}

#nav-buttons button {
    margin-right: 1em;
}

.show {
    display: block;
}

#login-form {
    display: none;
}

#second-fields {
    display: none;
}

#logo-form-container {
    display: flex;
    margin-top: 150px;
}

#logo-container {
    flex: 1;
}

#form-container {
    margin: 0 10% 0 0;
}

#signup-h1 {
    text-align: center;
    padding-bottom: 30px;
}

#bars-container {
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 49%;
    background-color: #999;
    margin-bottom: 30px;
}

.first-step {
    width: 100%;
    height: 10px;
    background-color: green;
}

.second-step {
    width: 0%;
    height: 10px;
    background-color: green;
}

.fields {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.fields:focus {
    outline: none;
}

.fields:focus~label,
.fields:valid~label {
    top: -20px;
    font-size: 14px;
    color: #757575;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group {
    position: relative;
    margin-bottom: 30px;
}

button {
    display: block;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
}

#buttons-container {
    display: none;
}

#next-btn {
    width: 100%;
    background-color: rgb(11, 182, 11);
    color: white;
    padding: 10px;
    border: none;
}

#back-btn {
    width: 49%;
    padding: 10px;
    background-color: rgb(3, 49, 3);
    color: white;
    border: none;
}

#already-acc {
    width: 100%;
    padding: 10px;
    background-color: rgb(3, 49, 3);
    color: white;
    border: none;
}

#new-acc {
    width: 100%;
    padding: 10px;
    background-color: rgb(3, 49, 3);
    color: white;
    border: none;
}

#login-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(11, 182, 11);
    color: white;
    border: none;
}

#signup-btn {
    width: 49%;
    padding: 10px;
    background-color: rgb(11, 182, 11);
    color: white;
    border: none;
}

.line {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #ccd0d5;
    padding: 15px 0;
}

.line::before,
.line::after {
    border-bottom: 1px solid #ccd0d5;
    content: "";
    flex: 1 1 auto;
}

.line::before {
    margin-right: 8px;
}

.line::after {
    margin-left: 8px;
}

#checkboxes {
    padding-bottom: 30px;
    display: none;
}

#error {
    display: none;
    font-size: 15px;
    color: red;
    padding-bottom: 30px;
    max-width: 300px;
}

/************* Earth Logo ****************/
.title {
    background-image: url(elements/title_1.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: 13.5%;
    width: 500px;
    height: 500px;
}
.earth {
    width: 300px;
    height: 300px;
    background-image: url(elements/animated_earth.svg);
    border-radius: 100%;
    transform: rotate(10deg);
    border: 1px solid black;
    background-size: 620px;
    animation: spin 6s infinite linear;
    position: absolute;
    top: 25%;
    left: 20%;
}

@keyframes spin {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 600px;
    }
}

