body {
    background-color: #3d3d3d;
    width: 99vw;
    height: 95vh;
}

.game {
    text-align: center;
    width: fit-content;
    margin: 100px auto;
}

.wheel {
    background-color: whitesmoke;
}

.wheels {
    position: relative; /* Relative, so the gradient can be position absolute */
    margin: 0 auto;
    width: fit-content;
    display: flex;
    height: 360px;
    overflow: hidden;
}

/* Adds gradient to the wheels, which gives the "round wheels"-effect */
.wheels:before {
    z-index: 1;
    content: "";
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 49.5%, rgba(255,0,0,1) 50%, rgba(0,0,0,0) 50.5%, rgba(0,0,0,0) 60%,  rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/* The "items" in the wheels. The background-images are added through attributes on each item. */
.item {
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;

    /* Makes the transition linear when the wheels "spin", so it's a stable animation without tics. */
    transition-timing-function: linear;
}

/* Temporary button styling */
button {
    background-color: hotpink;
    color: white;
    font-size: 2rem;
    padding: 10px;
    margin-top: 10px;
}


/* ----- GRAPHIC SOURCES ----- */

/* -- Theme custom properties -- */

/* For each theme, a group of custom properties must be created with sources to the graphics from the theme. */

[data-game-theme="mexico"] {
    --symbol-1: url("elements/mexican/mexico_1.svg");
    --symbol-2: url("elements/mexican/mexico_2.svg");
    --symbol-3: url("elements/mexican/mexico_3.svg");
    --symbol-4: url("elements/mexican/mexico_4.svg");
    --symbol-5: url("elements/mexican/mexico_5.svg");
    --symbol-6: url("elements/mexican/mexico_6.svg");
}

[data-game-theme="native"] {
    --symbol-1: url("elements/indigenous/native_1.svg");
    --symbol-2: url("elements/indigenous/native_2.svg");
    --symbol-3: url("elements/indigenous/native_3.svg");
    --symbol-4: url("elements/indigenous/native_4.svg");
    --symbol-5: url("elements/indigenous/native_5.svg");
    --symbol-6: url("elements/indigenous/native_6.svg");
}

[data-game-theme="viking"] {
    --symbol-1: url("elements/viking/viking_1.svg");
    --symbol-2: url("elements/viking/viking_2.svg");
    --symbol-3: url("elements/viking/viking_3.svg");
    --symbol-4: url("elements/viking/viking_4.svg");
    --symbol-5: url("elements/viking/viking_5.svg");
    --symbol-6: url("elements/viking/viking_6.svg");
}


/* -- Changable elements -- */
/* These elements all use custom properties, and these custom properties change depending on the theme. */

[data-symbol-id="1"] {
    background-image: var(--symbol-1);
}

[data-symbol-id="2"] {
    background-image: var(--symbol-2);
}

[data-symbol-id="3"] {
    background-image: var(--symbol-3);
}

[data-symbol-id="4"] {
    background-image: var(--symbol-4);
}

[data-symbol-id="5"] {
    background-image: var(--symbol-5);
}

[data-symbol-id="6"] {
    background-image: var(--symbol-6);
}