#lights_on {
animation-name: switch;
background-image: url(lights_on.svg);
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-direction: alternate;
position: absolute;
top: 10vh;
width: 939px;
height: 67px;
}

#lights_off {
    animation-name: switch;
    background-image: url(lights_off.svg);
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    position: absolute;
    top: 10vh;
    width: 939px;
    height: 67px;
}

@keyframes switch {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}