:root {
  --pointer-cursor: pointer;
}

.loading {
  --pointer-cursor: progress;
}

.App {
  width: fit-content;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightblue;
}

h1 {
  margin: 0;
  padding: 30px;
}

/* ----- USER LIST ----- */

.list {
  text-align: left;
  margin: 0 auto;
}

table {
  border-spacing: 0;
}

th, td {
  padding: 10px 30px 10px 10px;
}

th {
  cursor: var(--pointer-cursor);
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: #DDDFE8;
}

tr:nth-child(odd) {
   background-color: #E9E9E9;
 }

.sortArrow {
  padding-left: 5px;
  margin-bottom: 2px;
}

.delete_user {
  cursor: var(--pointer-cursor);
  color: darkred;
}

/* POPUP FOR DESKTOP INFORMATION */

.desktop_app_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #292929;
  color: whitesmoke;
}

@media screen and (min-width: 1023px) {
  .desktop_app_popup {
    display: none;
  }
}

/* HELPER FUNCTIONS */

.hidden {
  display: none;
}

